
  <h1> Stations </h1>
  <% @search.stations.each do |station| %>
  <%= station.name %>
  <%= station.address %>
  <%= station.fuel %>
  <%= station.distance %>
  <%= station.atime %>
  <br>
  <br>
  <% end  %>

  
